@import "sizes";

@media screen and (min-width: 720px) {
  body{
    display: grid;
    grid-template-columns: 1px 1fr 1fr 1fr 1px;
    grid-template-rows: 600px auto 100px;
    grid-template-areas: "head head head head head"
                         ".    nav  main main ."
                         ".    .    .    foot .";
    grid-column-gap: 20px;


    header{
      grid-area: head;
      background: url('../assets/header.jpg');
      background-size: cover;
      height: 100%;
      position: relative;

      h1{
        font-size: 72px;
      }


    }

    main{
      grid-area: main;
    }

    nav{
      grid-area: nav;
      background-color: transparent;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      height: 100%;
      box-shadow: none;
      border-right: 1px solid #ccc;

      a{
        border: none;
        color: #000;
        box-shadow: none;
        text-shadow: none;

      }
    }

    footer{
      border-top: 1px solid #ccc;
      padding: $padding;
      grid-area: foot;
    }
  }
}
