@import "colors";
@import "mixins";
@import "mobile";
@import "fonts";
@import "desktop";


html, body{
  padding: 0;
  margin: 0;
  background-color: #fff;
  background-image: url('../assets/greyzz.png');
  color: #222;
}

a{
  @include has-text-shadow($evil-shadow);
  @include has-box-shadow($evil-shadow);

  border: 1px solid #FFF;
  padding: 10px;
  margin: 10px;
  text-align: center;

  &:hover{
    text-shadow: none;
    box-shadow: none;
    color: $bright;
    border-color: $bright;
  }
}
