@import "colors";
@import "sizes";
@import "mixins";

body{
  display: flex;
  flex-direction: column;

  a{
    color: $dark;
    text-decoration: none;

    &:hover{
      color: $desaturated;
    }
  }

  nav{
    a {
      color: #FFF;

      &:hover{
        color: $bright;
      }
    }
  }

  article{
    padding: 10px;

    h1{
      font-size: 24px;
    }

    p{
      font-size: 20px;
    }
  }

  header{
    @include has-box-shadow($dark-shadow);
    height: 200px;
    background: url('../assets/header.jpg');
    background-size: cover;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before{
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .6;
      background-color: #000;
      z-index: 888;
    }

    h1{
      position: relative;
      z-index: 999;
      text-shadow:none;
      font-weight: 200;
      font-size: 48px;
      padding: $padding;
      border: 1px solid #FFF;
    }
  }

  nav{
    background-color: $desaturated;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include has-box-shadow($dark-shadow);
  }

  main{
    min-height: 400px;
  }

  section.image-with-text{
    @include has-box-shadow($dark-shadow);
    padding: $padding * 2;
    margin: $padding * 2;
    background-color: #FFF;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    img{
      max-width: 100%;
    }

    span{
      border-top: 1px solid #CCC;
      margin-top: $padding;
      padding-top: $padding;
    }
  }

}
